@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    scroll-behavior: smooth;
}

.toolbar {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app_icon {
    margin-top: 0;
    height: 2.2em;
    width: auto;
}

.app_name {
    font-weight: bold;
    font-size: 22px;
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 8px;
}

.main {
    display: contents;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.app_icon2 {
    height: 4em;
    width: auto;
}

.intro {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3em;
}

.title {
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

#mainintro {
    margin-top: 1px;
    text-align: center;
    line-height: 1.0;
}

.screenshotbg {
    justify-content: center;
    display: flex;
}

.screenshot {
    height: 25em;
    width: auto;
}

.Discover {
    background-color: rgb(188, 227, 250);
    text-align: center;
    height: auto;
    width: auto;
    border-radius: 1.2em;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.smalltext {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.update {
    margin-bottom: 1.5em;
    background-color: #23ae1f;
    height: auto;
    border-radius: 1em;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-left: 1.5em;
    margin-right: 1.5em;
    outline: 0;
    cursor: pointer;
    box-shadow: grey 2px 2px 10px;
}

.design {
    outline: none;
    border-radius: 1em;
    font-family: "Space Grotesk", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

#updates {
    background-color: lightgreen;
}

#qrcodes {
    background-color: rgb(236, 180, 158);
}

#shortlinks {
    background-color: rgb(213, 171, 241);
}

.icons {
    height: 22px;
    width: auto;
}

.iconss {
    height: 28px;
    width: auto;
}

footer {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    border-radius: 1em 1em 0 0;
    background-color: rgb(249, 245, 245);
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

li,ul {
    list-style-type: none;
    cursor: pointer;
}

#built {
    background-color: rgb(224, 219, 219);
}

.dw {
    background-color: #0772ff;
    text-align: center;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    border-radius: 8px;
    outline: 0;
    box-shadow: grey 2px 2px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.credit {
    text-align: center;
    border-radius: 1.5em;
    background-color: lightskyblue;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 1em;
}

.star {
    height: 0.8em;
    width: auto;
}

.screenshot2 {
    border-radius: 1em;
    height: 26em;
    width: auto;
    margin-left: 0;
    margin-right: 0;
}

#updatesvg {
    fill: black;
    animation: spin 3s linear infinite;
          }

          @keyframes spin {
              from { transform: rotate(0deg); }
                to { transform: rotate(360deg); }
          }
 
.dw.flash {
    animation: flash 0.8s ease-in-out;
}

@keyframes flash {
    0% { background-color: #0772ff; }
    50% { background-color: #00bfff; color: white;}
    100% {background-color: #0772ff;}
}
